body {


    font-family: 'Poppins', sans-serif;

overflow: hidden;
    .info-panel-1 {
        background: #FFB74D;
        //border-right: 2px solid lightsalmon;
        .time {
            padding-top: 20px;
            text-align: center;
            height: 27vh;
            h1 {
                font-size: 96px;
                font-weight: 900;
                color: dimgray;

                //font-family: "Times New Roman", Times, serif;
            }
        }
        .ubian {
            height: 73vh;
            width: 100%;
            border: none;
            body {
                overflow: hidden;
            }
        }
    }

    .info-panel-2 {
        //border-bottom: 1px solid lightgray;
        padding:20px;
        h5 {
            text-align: center;
            font-variant: all-petite-caps;
            font-weight: bolder;
            color: dimgray;
            font-size:28px;
            margin-top: 20px;
        }
    }

    .image-panel {
        text-align: center;
        padding:40px;

    }

    .info-panel-3 {
            position: fixed;
            bottom: 0px;
            right:0px;
            width: 75%;
            .title {
                float: left;
                width: 130px;
                text-align: center;
                line-height: 50px;
                text-transform: uppercase;
                font-weight: bold;
                background: lightsalmon;
                height: 50px;
            }
        .marquee {
            
            overflow: hidden;
            padding:4px;
           background: rgb(224, 224, 224);
            display: block;
            color: #333340;
            font-weight: 700;
            font-size: 16px;
            line-height: 40px;
            text-transform: uppercase;
            vertical-align: middle;
        }
    }
}